/* Importação da fonte Montserrat do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Definição das variáveis de cores e gradientes */
:root {
    --header-dark: #600101;
    --header-base: #9f0202;
    --header-light: #d00000;

    /* cores texto */
    --text-dark: black;
    --text-light: white;

    /* cores salgados */
    --salgados-accent1: rgb(117, 35, 248);
    --salgados-accent2: rgb(144, 125, 215);

    /* cores de fundo */
    --frutas-bg: rgb(18, 221, 221);
    --doces-bg: rgb(38, 174, 238);
    --sucos-bg: rgb(252, 61, 252);
    --lanches-bg: rgb(253, 161, 161);
    --pizzas-bg: rgb(250, 228, 105);
    --circle-image: rgb(249, 122, 192);
    
    /* gradientes */
    --header-gradient: linear-gradient(to right, var(--header-base), var(--header-dark));
    --container-gradient: linear-gradient(to right, var(--header-light), var(--header-dark));
    --salgados-gradient: linear-gradient(to left, var(--salgados-accent1), var(--salgados-accent2));
}